<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Angular_Dudar</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/">Головна</a>
    <a class="p-2 text-dark" routerLink ="/about">Контакти</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Увійти</a>
</div>

<router-outlet></router-outlet>

<footer class="mastfoot mt-auto">
  <div class="container">
    <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
        href="https://twitter.com/mdo">@mdo</a>.</p>
  </div>
</footer>
